// colors
$light-blue: #517FA4;
$dark-blue: #243949;

// fonts
$logo-font: 'Pacifico', cursive;
$text-font: 'Roboto', sans-serif;

// padding
$container-padding: 40px;

// margin for navbar styling
$margin-left: 40px;
$margin-right: 40px;

// navbar height
$nav-height: 70px;