@import './helpers/Variables';
@import './helpers/Mixins';

.App {
  @include full-height-width();
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.recipe-cards-container {
  @include grid-normal-device();
  padding: $container-padding;
}


/* smallest device (phones)*/
@media only screen and (min-width: 100px) and (max-width: 480px) {
  .recipe-cards-container {
    grid-template-columns: 1fr;
    padding: $container-padding - 20px;
  }
}

/* Small devices (tablets/ portrait mode) */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .recipe-cards-container {
    grid-template-columns: 1fr;
    padding: $container-padding - 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  .recipe-cards-container {
    grid-template-columns: 1fr 1fr;
    padding: $container-padding - 10px;
  }
}