.navbar {
    height: 70px;
    display: flex;
    flex-direction: space-between;
    background-color: white;
}

.logo-side {
    display: flex;
    flex: 50%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
}

.logo-text {
    color: #517FA4;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

.search-form {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

.search-bar {
    width: 220px;
    height: 25px;
    border: 1px solid #517FA4;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-size: 16px;
    margin-right: 15px;
}

::placeholder {
    color: #517FA4;
}

.search-button {
    width: 70px;
    height: 37px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #517FA4;
    font-size: 16px;    
    padding: 0;
    cursor: pointer;
}

/* smallest device (phones)*/
@media only screen and (min-width: 100px) and (max-width: 480px) {
    .logo-side {
        margin-left: 20px;
    }
    .logo-text {
        font-size: 14px;
    }
    .search-form {
        margin-right: 20px;
    }
    .search-bar {
        width: 125px;
        height: 10px;
        font-size: 9px;
        margin-right: 5px;
    }
    .search-button {
        width: 50px;
        height: 23px;
        font-size: 9px;
    }
}

/* Small devices (tablets/ portrait mode) */
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .logo-side {
        margin-left: 20px;
    }
    .logo-text {
        font-size: 19px;
    }
    .search-form {
        margin-right: 20px;
    }
    .search-bar {
        width: 150px;
        height: 15px;
        font-size: 12px;
        margin-right: 5px;
    }
    .search-button {
        width: 55px;
        height: 28px;
        font-size: 12px;    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo-side {
        margin-left: 30px;
    }
    .search-form {
        margin-right: 30px;
    }
}