.cards-container {
    padding: 40px;
}

.recipe-card {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 15px;
    height: 450px;
}

.recipe-title {
    color: #243949;
    font-family: 'Pacifico', cursive;
    text-align: center;

    margin: 0;
}

.recipe-card img {
    width: 250px;
    margin: 10px 0;
}

.ingredients-text {
    margin: 0;
    text-decoration: underline;
    align-self: flex-start;
}

.ingredients-list {
    list-style: none;
    padding: 0;
    align-self: flex-start;
}

.recipe-btn {
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #243949;
    padding: 7px;
    align-self: center;
    cursor: pointer;
}

/* smallest device (phones)*/
@media only screen and (min-width: 100px) and (max-width: 480px) {
    .cards-container {
      padding: 20px;
    }
  }
  
  /* Small devices (tablets/ portrait mode) */
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .cards-container {
        padding: 20px;
      }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .cards-container {
        padding: 30px;
      }
  }