@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Roboto', sans-serif;
}

